*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
.hide{
    display: none;
}
.waitingReponse{
    display: block;
    text-align: center;
}
h1{
    text-align: center;
    font-size: 48px;
    font-weight: normal;
    /* text-decoration: underline; */
    font-family: "Freeman" ,sans-serif;
    margin-block: 48px;
}
.night{
    background-image: url('https://cdn.pixabay.com/photo/2020/04/30/20/14/sky-5114501_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-radius: 16px ;
    padding: 80px;
}
.day{
    background-image: url('https://cdn.pixabay.com/photo/2023/06/28/05/38/sunrise-8093493_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px ;
    padding: 80px;
}
.container{
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'location location'
    'hero-weather content-weather';
}
.location{
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    grid-area: location;
    padding: 16px;
}
.hero-weather{
    grid-area: hero-weather;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-weather{
    grid-area: content-weather;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.icon-weather{
    width: 100px;
    margin-bottom: 16px;
}
.temp-c, .temp{
    font-size: 48px;
    font-weight: lighter;
}

@media (max-width: 660px){
    .container{
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }
    .content-weather{
        align-items: center;
        width: 100%;
    }
    .night, .day{
        padding: 40px;
    }
}